/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 10px;
    padding: 10px;
}

.centered-content {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Form Styles */
form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Password Entry Styles */
.delete-btn {
    padding: 4px 8px;
    margin-left: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.edit-btn {
    padding: 4px 8px;
    margin-left: 10px;
    background-color: #36a8f4;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.delete-btn:hover {
    background-color: #d32f2f;
}

.edit-btn:hover{
      background-color: #2f4dd3;
}

/* Search Input Styles */
#search {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    input[type="text"] {
        width: 100%;
    }
}
